.bgcolor-custom{
    background-color: #3c096c;
    color: white;
}

.bgcolor-custom:hover{
    background-color: #5a189a;
    color: white;
}
.container-bg{
    background-image: url('image/Frame 4513.svg');
    background-size: cover; /* Mengatur ukuran gambar agar menutupi elemen */
    background-position: center top; /* Posisi awal */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* Sesuaikan ukuran elemen */
    position: relative;
    /* z-index: 0; */
}

.container-bg-2 {
    /* background-image: url('image/bg-block.svg'); */
    background-size: cover;
    background-position: center top; /* Posisi awal */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* Sesuaikan ukuran elemen */
    position: relative;
    z-index: -2;
}

.container-bg-3 {
  background-image: url('image/Frame 4521.svg');
  background-size: cover;
  background-position: center top; /* Posisi awal */
  background-repeat: no-repeat;
  width: 100%;
  z-index: -2;
}

.button-container {
  margin-top: 50px;
}
.button-item {
  text-align: center;
  padding: 30px;
}
.button-item img {
  max-width: 90%;
  object-fit: cover;
  margin-bottom: 20px; /* Spacing between image and button */
}
.button-item button {
  font-size: 18px;
  padding: 15px 30px;
  width: 100%;
}

.bgcolor-purple{
    background-color: #3c096c;
    color: white;
}

.color-neon-blue{
  color: #00FFFF;
}

.bgcolor-pink{
  background-color: #ff007f;
}

.bgcolor-lilac{
  background-color:#e3d6ff;
}

.bgcolor-lilac-2{
  background-color:#e6dbfc;
}

.color-black{
  color: black;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.number-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.number-text {
  margin-left: 15px;
  font-size: 18px;
  color: #333;
}
/* box glow */
/* Efek 3D dan Glow untuk kotak */
.glow-box {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1); /* Bayangan untuk efek 3D */
  position: relative;
  overflow: hidden; /* Memastikan konten tetap di dalam kotak */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Glow efek saat hover */
.glow-box:hover {
  box-shadow: 0 0 10px #ffffff, 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4); /* Efek glow menyala */
  transform: translateY(-5px); /* Sedikit naik untuk efek interaktif */
}

/* Efek teks menyala */
.glow-box:hover::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 10%, transparent 70%);
  opacity: 0.5;
  transform: rotate(45deg);
  z-index: -1; /* Efek glow di belakang */
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Jarak antar item */
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333; /* Warna teks */
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px; /* Jarak antara ikon dan teks */
}

.icon {
  width: 30px;
  height: 30px; /* Menyesuaikan ukuran ikon */
}

/* Warna teks neon */
.glow-box {
  text-shadow: 0 0 0 #d5b1b1, 0 0 10px rgba(255, 255, 255, 0.8);
  
}

/* Responsive tambahan */
@media (max-width: 576px) {
  .glow-box {
    font-size: 14px; /* Ukuran lebih kecil di layar sempit */
  }
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');



*, *:before, *:after {
  box-sizing: border-box;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.140, 0.470, 1.125) forwards;
}

.card-custom {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.card-custom::after {
  content: '';
  display: block;
  width: 190px;
  height: 150%;
  background: #ffc107;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.040, 0.470, 1.105) 1s both;
}

.badgescard {
  padding: 5px 20px;
  border-radius: 3px;
  background-color: #ECECEC;
  width: 100%;
  max-width: 480px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  /* position: absolute; */
  z-index: -1;
  left: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animainfos 0.5s cubic-bezier(0.425, 1.040, 0.470, 1.105) 0.75s forwards;
}

.badgescard span {
  font-size: 1.6em;
  margin: 0px 6px;
  opacity: 100;
}

.firstinfo {
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: relative;
}

.firstinfo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.firstinfo .profileinfo {
  padding: 0px 20px;
}

.firstinfo .profileinfo h1 {
  font-size: 1.8em;
}

.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #0077b6;
  font-style: italic;
}

.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5A5A5A;
  line-height: 1.2;
  font-style: initial;
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}

@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(-0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

/* edu */

.btn-lg, a:focus, a:active {
    outline: none !important;
    box-shadow: none !important;        
}

.card-1{
    box-shadow: 2px 4px 15px 0px #ffbe0b;
}

p{
    font-size: 13px ;
}
        
.small{
    font-size: 9px !important;
}

.cursor-pointer{
    cursor: pointer;
}

.btn-round-lg {
    border-radius: 22.5px;
    background-color: #ffffff;
    color: #f77f00;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.9px;
    padding: 8px 20px  8px  20px !important;
    border: 1px solid #fff;
}

.btn-round-lg:hover{
    background-color: #fff;
    color: #f77f00;
    border: 1px solid #fff;
}

.btn-round-lg:focus{
    border: 1px solid #fff !important;
}

.card{
    /* background-color: #f77f00 !important; */
    /* color: rgb(255, 255, 255); */
}

.max-width-card{
  max-width: 600px;
  width: 100%;
}

.education-card {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background: #f8f9fa;
}
.education-card img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

/* logo */
.marquee {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    /* background-color: #ffffff; Opsional untuk kontras */
    padding: 10px 0;
}

.marquee-content {
    display: inline-flex;
    animation: marquee 20s linear infinite;
}

.marquee-content img {
    height: 50px; /* Atur tinggi gambar */
    object-fit: contain;
    margin-right: 100px; /* Tambahkan jarak antar gambar */
}
.img-fluid{
  /* max-width: 70% !important; */
}

/* Animasi marquee */
@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

/* accordion */


/* animasi gambar */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Posisi awal dan akhir gambar */
  }
  50% {
    transform: translateY(-20px); /* Gambar naik 20px */
  }
}

.img-bounce {
  animation: bounce 2s infinite ease-in-out;
}

.owl-carousel .item {
  display: flex;
  width: 100%;
  justify-content: center;
}

.owl-carousel .item img {
  width: 60%;
}

@media (max-width: 767.98px) {
  .owl-carousel .item img {
    width: 100%;
  } 

  
  .img-fluid{
    /* width: 50% !important; */
  }
}