.marquee {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* ini yang bergerak */
.marquee-content {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  white-space: nowrap;

  animation: marquee 18s linear infinite;
}

/* logo */
.marquee-content img {
  height: 48px;
  width: auto;
  flex-shrink: 0;
}

/* animasi */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}