html {
  scroll-behavior: smooth;
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-left: 16px;
  margin-right: 16px;

  /* optional */
  padding-top: 16px;
}

.pill-wrapper {
  display: flex;
  justify-content: center;

  /* PENTING: jangan pakai overflow */
  overflow: visible;
}

.ccs-pillNav {
  background: white;
  padding: 14px 12px;
  border-radius: 100px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
.ccs-pillItem{
  text-decoration:none;
  color: rgba(11,16,32,.75);
  font-weight:700;
  padding:10px 14px;
  border-radius:100px;
  transition: background .18s ease, transform .18s ease;
}
.ccs-pillItem:hover{
  background: var(--red-wine);
  color: white;
  transform: translateY(-1px);
}

.ccs-pillItem.is-active {
  background: var(--red-wine) !important;
  color: white !important;
}


/* Untuk mobile (<768px) */
@media (max-width: 767.98px) {
  .ccs-pillItem {
    padding: 5px 7px;
  }
}