:root {
    --color-baliteak-primary: #7F4B33;
    --color-baliteak-secondary: #F4EEE1;
    --color-red: #FF5A79;
    --color-green: #1D5745;
}





.hero-bg {
    height: 50vh;

    background-image: url('../image/BaliTeak/Hero.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

.hero-content {
    max-width: 800px;
    color: white;
}

.baliteak-bg-color-primary {
    background-color: var(--color-baliteak-primary);
}

.capsule-border-baliteak {
    border: 2px solid var(--color-baliteak-primary);
    color: var(--color-baliteak-primary);
}

.baliteak-bg-color-secondary {
    background-color: var(--color-baliteak-secondary);
}

.cross {
    color: var(--color-red);
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.cross-container {

    border: 1px solid var(--color-red) !important;
}

.check {
    color: var(--color-green);
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.check-container {
    border: 1px solid var(--color-green) !important;
}

.sitemap-image-container {
    /* min-height: 300px; */
    overflow: hidden;
}

#sitemapLoader {
    position: absolute;
    inset: 0;
    z-index: 2;

    background-color: #ffffff;
}

.sitemap-image {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sitemap-image.loaded {
    opacity: 1;
}

#sitemapLoader.hidden {
    display: none !important;
}